{% load static %}


<div id="retrospective-modal" class="modal">
    <div id="retrospective-modal-content" class="modal-content">
        <span class="modal-close">&times;</span>

        <div class="modal-box">
            <label for="retrospective-modal-date">날짜</label>
            <div class="modal-textarea" id="retrospective-modal-date" aria-readonly="true">
                
            </div>
        </div>

        <div class="modal-box">
            <label for="retrospective-modal-text">회고</label>
            <div class="modal-textarea" id="retrospective-modal-text" aria-readonly="true">
                
            </div>
        </div>

        <hr class="modal-separator">

        <div class="modal-box">
            <label for="retrospective-modal-comment">지우의 한마디</label>
            <div class="modal-textarea" id="retrospective-modal-comment" aria-readonly="true">
                
            </div>
        </div>

    </div>
</div>