{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "users/css/styles.css" %}">
{% endblock stylesheets %}

{% block content %}


<div class="login-container">
    <div class="login-window">
        <form method="post" class="card" novalidate>
            {% csrf_token %}
            <h2 class="text-center">Log in to your account</h2>
            {% for field in form %}
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                <small>{{ field.errors|striptags }}</small> 
                {% endif %}
            {% endfor %}
            
            <input type="submit" value="Login" class="btn btn-primary full-width">
            <hr>
            <p class="text-center">Forgot your password? <a href="#">Reset Password</a></p>
            <p class="text-center">Don't have a account? <a href="{% url "register" %}">Join Now</a></p>
      </form>
    </div>
</div>


{% endblock content %}
