{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "users/css/styles.css" %}">
{% endblock stylesheets %}

{% block content %}

<div class="login-container">
    <div class="login-window">
        <form method="post" class="card" autocomplete="off" novalidate>
            {% csrf_token %}
            <h2 class="text-center">Register your account</h2>
            {% for field in form %}
            <p>
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                <small>{{ field.errors|striptags }}</small> 
                {% endif %}
            </p>
            {% endfor %}
            
            <input type="submit" value="Sign Up" class="btn btn-primary full-width">
      </form>
    </div>
</div>


{% endblock content %}


